body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #68A3FC;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

form.inicio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    padding-inline: 20%;
    background-color: #8B68FC;
}

form.inicio * {
    border-radius: 5px;
    background-color: #BCD6FC;
    padding: 5px;
}

form input[type=submit]{
    background-color: #6874FC;
}

div{
    background-color:#BCD6FC ;
    padding: 20px;
}

article{
    display: flex;
    justify-content: space-between;
    background-color: #6874FC;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 30px;
}

article input{
    justify-content: flex-end;
}

footer{
    background-color: #68A3FC;
    text-align: center;
    padding: 20px;
}